<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>embers</title>
    <meta name="description" content="embers">
    <meta name="author" content="NicoHalton">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <script type="text/javascript" src="../static/js/zepto.min.js"></script>
    <script type="text/javascript" src="../static/js/zepto.fx.js"></script>
    <script type="text/javascript" src="../static/js/zepto.fx_methods.js"></script>

    <script type="text/javascript">
        function addToString(string, number, max) {
            max = (typeof max !== 'undefined') ? max : 999;
            number = Math.min(Math.max((number + parseInt(string)), 0), max);
            return ("0000" + (number).toString()).slice(-3);
        }
    </script>

    <script type="text/javascript">
        function addMessage(message) {
            var messageList = $("#messages");
            var div = $("<div>").addClass('row');
            div.append(message).css({'opacity': 0});
            messageList.prepend(div);
            div.animate({opacity: 1}, 1000);

            var messages = messageList.children().last();
            if (messages.length > 10) {
                messages.last().hide(1000);
            }
        }
    </script>

    <script type="text/javascript">
        function stoke() {
            console.log($("#stoke").val());
            if ($("#stoke").val() === "climb") {
                $("#stoke").val("coax");
                $("#stoke").html("coax the embers");
                addMessage("fallen stone offers shelter<br>a heavens-split tree<br>out spill smouldering embers");
            } else if (($("#stoke").val() === "coax")) {
                $("#stoke").val("005");
                $("#stoke").html("stoke the fire");
                addMessage("shaking hands clutch at new life<br>each breathe is a prayer<br>the red flower winds higher");
            } else {
                $("#stoke").val(addToString($("#stoke").val(), 100, 300));
            }
        }
    </script>

    <script type="text/javascript">
        function coolFire() {
            if (parseInt($("#stoke").val())) {
                var newFireVal = addToString($("#stoke").val(), -1);
                $("#stoke").val(newFireVal);
            }
        }
    </script>

    <script type="text/javascript">
        setTimeout(function () {
            addMessage("black clouds broil contemptuous<br>lightning breaks the sky<br>swallowing soon the cold earth");
            setTimeout(function () {
                addMessage("flash of light striking a peak<br>the flame does not fade<br>pale beacon in a dark world");
                $("#stoke").show(1000);
            }, 1000);
        }, 1000);

        setInterval(function () {
            coolFire();
        }, 2000);
    </script>
</head>
<body>
<div class="container">
    <br>
    <div class="col-md-3">
        UPDATES<br>
        <div id="messages"></div>
    </div>
    <div class="col-md-4">LOCATIONS1</div>
    <div class="col-md-4">LOCATIONS2
        <div class="location" id="peak">
            <button class="btn btn-default" type="button" id="stoke" onclick="stoke();" value="climb"
                    style="display:none;">
                climb
            </button>
            <div class="building" id="temple">
            </div>
        </div>
    </div>
    <div class="col-md-1">RESOURCES
        <div id="resources"></div>
    </div>
</div>
</body>
</html>