<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>games</title>
    <meta name="description" content="games">
    <meta name="author" content="NicoHalton">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/zepto.min.js"></script>
    <script type="text/javascript" src="../static/js/zepto.fx.js"></script>
    <script type="text/javascript" src="../static/js/zepto.fx_methods.js"></script>
</head>
<body>
<div class="container">
    <br>
    <div class="col-md-8 .col-md-offset-2">
        <div class="row">
            <a id="emberslink" href="{{ url_for('embers_route') }}">EMBERS</a>
        </div>
    </div>
</body>
</html>